<?php
return [
    'phpPath' => 'php',
    'jobs' => [
        [
            'command' => 'index.php application cron mail',
            'schedule' => '*/5 * * * *',
            'envs' => ['live','dev']
        ]
    ],

    // timeout in seconds for the process, defaults to 600 seconds
    'timeout' => 850
];
